body {
    font-family: Arial;
    color: white;
}
.logo{
    max-width: 100%;
    height: auto;
}
.topnav{
    position: relative;
    z-index: 2;
    font-size: 17px;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #775ba4;
}

.right {
    right: 0;
    background-color: #6138ad;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}